.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 15px 0;
  height: 60px;
  margin: 0 auto;

  .arrows {
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 20px;
      font-size: 20px;
      background: #331816;
      color: #ffffff;
      // #331816
    }

    .btn-right {
      margin-left: 15px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;

    .upgrade {
      border: 1px solid #ffffff;
      padding: 8px 10px;
      width: 180px;
      border-radius: 9999px;
      background: #331816;
      color: #ffffff;
      text-transform: uppercase;
    }

    .account {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background-color: #331816;
      margin-left: 25px;
      border-radius: 999px;

      .border {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--user-avatar-none-bg);

        svg {
          font-size: 18px;
          color: #ffffff;   
        }
      }

      .avatar {
        // background: #331816;
        padding: 12px;
        color: #ffffff;
      }
    }
  }
}