.main-content {
  grid-area: main-content;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, var(--top-linear-gradient), var(--bottom-linear-gradient));

  .view-recently {
    width: 95%;
    margin: 20px auto;

    h1 {
      color: #ffffffff;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

}